<h1 mat-dialog-title>Task Details</h1>
<div mat-dialog-content>
  <p><strong>ID:</strong> {{data.task.id}}</p>
  <p><strong>Title:</strong> {{data.task.title}}</p>
  <p><strong>Description:</strong> {{data.task.descriptiodn}}</p>
  <p><strong>Status:</strong> {{data.task.status}}</p>
  <p><strong>Assignee:</strong> {{data.task.assignee}}</p>
  <p><strong>Creation Date:</strong> {{data.task.creationDate}}</p>
  <p><strong>Due Date:</strong> {{data.task.dueDate}}</p>
  <p><strong>Comments:</strong> {{data.task.comments}}</p>
  <!-- Add more task details here -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>