.spacer {
    flex: 1 1 auto;
  }

  button {
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #324191; /* Change this to the color you want when hovering */
    color: white;
  }
  
  button:active {
    background-color: black;
    color: white;
  }
  
  .active-route {
    background-color: #324191;
  }

  