<h1 mat-dialog-title>Notes</h1>
    <div mat-dialog-content>
        <p>Some features that are currently under development. The following issues need to be addressed:</p>
        <ul>
          <li>An ID is mandatory when creating a task.</li>
          <li>If a task is created with an ID that already exists, the existing task will be overwritten (similar to a PUT operation).</li>
          <li>The following fields are either pre-filled or not available: Description, Comments, Creation Date, Due Date.</li>
        </ul>    
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </div>